* {
  box-sizing: border-box;
}

body {
  background-color: #ebebeb;
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #eac926;
  padding: 1rem;
}

.section-ML-searcher {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* 
  max-height: 3rem; */
}

.logo-ML {
  width: 45%;
}

.searcher-container {
  max-height: 2rem;
  width: 45%;
  display: flex;
  position: relative;
}

.searcher-container input {
  width: 100%;
  border-style: none;
  border-radius: 5px;
}

.searcher-container button {
  z-index: 1;
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  border-style: none;
  border-radius: 0 5px 5px 0;
  background-color: white;
}

.phrase {
  font-size: 0.8rem;
  margin: 0.8rem 0;
  text-align: center;
}

main {
  padding: 0 14px; /* no me pidio */
}

.section-tittle {
  background-color: #ebebeb;
  margin: 20px 0;
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: grey;
}

.footer-icon {
  color: #1259c3;
}

.product {
  background-color: white;
  width: 90%;
  margin: 0 5% 0.5rem;
  padding: 0 15px;
  box-sizing: border-box;
}

.product:hover {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.info-product {
  border-top-color: #ebebeb;
  border-top-style: solid;
  border-top-width: 1px;
  padding: 10px 0;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.product-name {
  margin: 0;
  color: grey;
}

.fa-truck {
  color: #39b54a;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: white;
}

footer article {
  margin: 2rem 2rem 0;
}

footer i {
  font-size: 2rem;
  margin: 1rem 0 0.5rem;
}

footer p,
b {
  text-align: center;
  margin: 0;
}

footer b {
  display: block;
}

footer div {
  color: grey;
  margin: 2rem 0 1rem;
  font-size: 0.9rem;
}

main input {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  border-radius: 5px;
  box-sizing: border-box;
  border-style: hidden;
}

.register-form .birthdate {
  font-weight: bold;
}

nav {
  display: none;
}

.bar-nav-icon {
  width: 40px;
  height: 40px;
  background-color: #0044aa;
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0;
  box-sizing: border-box;
}

.bar-nav-icon:hover {
  cursor: pointer;
  background-color: #0022aa;
}

.bar-nav-icon-container {
  text-align: center;
}

.banner-ML {
  display: block;
  width: 100%;
}

.last-view-based,
.offers {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1600px;
}

.price {
  width: 30%;
}

.discount {
  width: 70%;
  color: #39b54a;
}

.circle-fa-truck {
  border: 1px solid #39b54a;
  border-radius: 30px;
  display: inline-block;
  padding: 4px;
  position: absolute;
  right: 10px;
  top: -15px;
}

.submit-btn {
  color: white;
  background-color: #0044aa;
  text-align: center; /* no me pidio */
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0;
  box-sizing: border-box;
  width: 100%;
  border-style: none;
}

.submit-btn:hover {
  background-color: #0022aa;
}

.reset-btn {
  color: white;
  background-color: #aa0044;
  text-align: center; /* no me pidio */
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0;
  box-sizing: border-box;
  width: 100%;
  border-style: none;
}

.reset-btn:hover {
  background-color: #cc1155;
}

.register-user-profile {
  display: flex;
  align-items: flex-start;
}

.register-user-profile input {
  margin: 0;
}

.interest {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.interest input {
  width: 10%;
}

.interest label {
  width: 90%;
  margin: 20px 0;
}

@media (min-width: 361px) {
}

@media (min-width: 769px) {
  header {
    padding-bottom: 0;
  }

  .section-ML-searcher {
    flex-wrap: nowrap;
    height: 3rem;
    align-items: center;
  }

  .logo-ML {
    width: 15%;
    margin: 0;
  }

  .searcher-container {
    width: 60%;
    margin: 0;
    height: 100%;
  }

  .phrase {
    width: 20%;
    margin: 0;
  }

  .bar-nav-icon-container {
    display: none;
  }

  .bar-nav {
    display: flex;
    padding: 2rem 0 1rem;
  }

  .site-links,
  .user-settings {
    display: flex;
  }

  .site-links,
  .user-settings {
    width: 50%;
    list-style-type: none;
    padding: 0;
  }

  .site-links a,
  .user-settings a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
  }

  .site-links li {
    margin: 0 0.85rem;
  }

  .user-settings {
    justify-content: flex-end;
  }

  .user-settings li {
    margin: 0 0.85rem;
  }

  .section-tittle {
    text-align: left;
    padding-left: 2.5%;
  }

  .product {
    background-color: white;
    width: 20%;
    margin: 2.5%;
    padding: 0.25rem;
  }

  .product .price {
    width: calc(50% - 0.5rem);
    margin-left: 0.5rem;
  }

  .product .discount {
    width: 50%;
  }

  .info-product:hover {
    display: flex;
  }

  /* .product-name {display: none;} */

  footer {
    flex-direction: row;
    flex-wrap: wrap;
  }

  footer article {
    margin: 2rem 1rem 0;
    width: calc(33.3333% - 3rem);
  }

  footer div {
    margin-left: 2rem;
  }

  .login-body {
    min-height: 100vh;
  }

  .login-main {
    width: 35%;
    padding: 0;
    margin: 0 auto;
  }

  .footer-login {
    position: absolute;
    bottom: 0;
  }

  .regiter-main {
    width: 35%;
    padding: 0;
    margin: 0 auto;
  }
}
