* {
  box-sizing: border-box;
}

body {
  background-color: #ebebeb;
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #eac926;
  padding: 1rem;
}

.section-ML-searcher {
  display: flex;
  justify-content: space-around;
}

.logo-ML {
  width: 45%;
}

.searcher-container {
  width: 45%;
  display: flex;
  position: relative;
}

.searcher-container input {
  width: 100%;
  border-style: none;
}

.searcher-container button {
  z-index: 1;
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  border-style: none;
}

main {
  padding: 0 14px; /* no me pidio */
}

.section-tittle {
  background-color: #ebebeb;
  margin: 20px 5%;
  width: 90%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: grey;
}

.footer-icon {
  color: #1259c3;
}

.product {
  background-color: white;
  margin: 15px 5%;
  width: 90%;
  padding: 0 15px;
  box-sizing: border-box;
}

.product:hover {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.info-product {
  border-top-color: #ebebeb;
  border-top-style: solid;
  border-top-width: 1px;
  padding: 10px 0;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.product-name {
  margin: 0;
  color: grey;
}

.fa-truck {
  color: #39b54a;
}

footer {
  background-color: white;
  margin: 20px 5%;
}

footer article {
  margin: 20px 0;
}

main input {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  border-radius: 5px;
  box-sizing: border-box;
  border-style: hidden;
}

nav {
  display: none;
}

.bar-nav {
  width: 40px;
  height: 40px;
  background-color: #0044aa;
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0;
  box-sizing: border-box;
}

.bar-nav:hover {
  cursor: pointer;
  background-color: #0022aa;
}

.bar-nav-container {
  text-align: center;
}

.banner-ML {
  display: block;
  width: 100%;
}

.last-view-based,
.offers {
  display: flex;
  flex-wrap: wrap;
}

.price {
  width: 30%;
}

.discount {
  width: 70%;
  color: #39b54a;
}

.circle-fa-truck {
  border: 1px solid #39b54a;
  border-radius: 30px;
  display: inline-block;
  padding: 4px;
  position: absolute;
  right: 10px;
  top: -15px;
}

.submit-btn {
  color: white;
  background-color: #0044aa;
  text-align: center; /* no me pidio */
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0;
  box-sizing: border-box;
  width: 100%;
  border-style: none;
}

.submit-btn:hover {
  background-color: #0022aa;
}

.reset-btn {
  color: white;
  background-color: #aa0044;
  text-align: center; /* no me pidio */
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0;
  box-sizing: border-box;
  width: 100%;
  border-style: none;
}

.reset-btn:hover {
  background-color: #cc1155;
}

.register-user-profile {
  display: flex;
  align-items: flex-start;
}

.register-user-profile input {
  margin: 0;
}

.interest {
  display: flex;
  flex-wrap: wrap;
}

.interest input {
  width: 10%;
}

.interest label {
  width: 90%;
  margin: 20px 0;
}

@media (min-width: 361px) {
}

@media (min-width: 769px) {
  .info-product {
    display: none;
  }

  .info-product:hover {
    display: flex;
  }
}
